old/
database_update/
crassus_dependencies/
resources/crassus_dependencies/
docs/

resources/.gggenomes_install_done
yutin_trees/
dag.pdf
borrar*
config/samples*.tsv
data/
logs/*
results*
container/*
!container/container.def
!container/container.yml
*ipynb
!dev_notes.ipynb
!parse_terl_tree.ipynb
crassus_genomes.txt
.snakemake
.cache/
test.txt
config/.*
.Rproj.user
envs/list.txt
resources/genomes/*.fasta
resources/genomes/*.table
resources/fastANI_genomes.list
envs/.ipynb*
test*
create_ref_genomes_tables.py
.ipynb_checkpoints/
.~lock.*
ref_habitats.txt
Rplot*
mafft_test*
.Rhistory
bas_ggtree.R
tree_fig*.svg
*.png
mafft_iqtree_test*
trees_benchmark*
writing/*
!writing/ggtree_test.R
!writing/gggenomes_lab_meeting.R
!wrting/*.ipynb
