dag.pdf
borrar*
config/samples*.tsv
data/
logs/*
results/
container/*
!container/container.def
!container/container.yml
*ipynb
!dev_notes.ipynb
crassus_genomes.txt
.snakemake
.cache/
test.txt
config/.*
.Rproj.user
envs/list.txt
resources/genomes/*.fasta
resources/genomes/*.table
resources/fastANI_genomes.list
envs/.ipynb*
test*
*R*
create_ref_genomes_tables.py
.ipynb_checkpoints/
.~lock.*
ref_habitats.txt
